<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoTienDien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoTienDien.Properties.Settings>
            <setting name="Key2Captcha" serializeAs="String">
                <value>b0c8e9bc6c492644481aa41dc8e1dadb</value>
            </setting>
            <setting name="SDT" serializeAs="String">
                <value>0984402236</value>
            </setting>
            <setting name="ExcelFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Nghi" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Keytinsoftproxy" serializeAs="String">
                <value>TLp3d2etyTc2OTxm7GnxbLbkJLKWlQBMw5ysZr</value>
            </setting>
            <setting name="UserProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoTienDien.Properties.Settings>
    </userSettings>
</configuration>